<!DOCTYPE html>
<html>

<head>
  <title>kobepeng | 任务</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description">
  <meta property="og:type" content="website">
  <meta property="og:title" content="kobepeng task page">
  <meta property="og:url" content="http://new.kobepeng.com">
  <meta property="og:site_name" content="kobepeng个人站">
  <meta property="og:description" content="kobepeng任务分享页面">
  <link rel="stylesheet" href="../../public/common/css/lib/kissy_reset.css">
  <link href="tasks.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
      var lastDate ='';
  </script>
</head>

<body>
  <!--<div id="timer">
    <div id="timer_day"></div>
    <div class="timer-label">天</div>
    <div id="timer_Hour"></div>
    <div class="timer-label">小时</div>
  </div>-->

  <ul class="task-filter">
    <li id="filter_all" class="active">全部<span style="font-size: 12px">(滚动加载)</span></li>
    <li id="filter_unfinished">未完待续</li>
  </ul>

  <div class="page">
    <div class="main box">
      <div class="box">
        <div class="box post">
          <h3>新增</h3>
          <form action="/task/new" method="post" id="post_new">
            <p><input type="text" name="title" class="long_txt" required placeholder="接收任务..." /></p>
            <p><input type="checkbox" name="isPrivate" />私有</p>
            <p><input type="submit" class="submit" value="添加" /></p>
          </form>
        </div>
        <div class="box tasks">

          <ul id="task_ul">
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--  弹出修改层 -->
  <div class="popuplayer">
    <form action="/" method="post" id="edit_title_form">
      <input id="addLink" type="button" value="添加链接" />
      <textarea id="editInput" name="title" rows="4"> </textarea>
      </br>
      <input id="saveEdit" type="button" class="edit-save" value="保存" />
      <input id="cancelEdit" type="button" value="取消" />
    </form>
  </div>
  <div id="BgDiv"></div>
  <!--显示加载中 -->
  <div id="loading_div">
    <img src="../../public/img/loading.gif" />
  </div>
  <!--显示提示信息 -->
  <div id="tips_div"></div>
  <!--显示错误-->
  <div id="err_div"></div>

  <script type="text/x-template" id="task_tpl">
    <% for (var i = 0, len = tasks.length; i < len; i++) {
            var task = tasks[i];
            var status = task.finished ? 'class="finished"' : '';
          %>
      <% if (lastDate !== task.createTime.day) { %>
        <li class="title-li"><span class="title-day"><% task.createTime.day %></span></li>
        <% if(lastDate=task.createTime.day){} } %>
          <li <% status %> litag class="htmltransition">
            <% if (!task.finished) { %>
              <h4>
                <span id="<% task._id%>" class="unfinish-title" realTitle="<% task.title %>" > <% task._m_title %> </span>
                </h4>

              <span class="time">创建:<% task.createTime.minute %> </span>
              <% if (task.isPrivate) { %>
                <em tabindex="0" class="privatetag">私</em>
                <% }%>
                  &nbsp;
                  <a name="finish" titleid="<% task._id%>" href="javascript:void(0);">完成</a>&nbsp;
                  <% } else { %>
                    <h4>
               <del id="<% task._id%>" realTitle="<% task.title %>"><% task._m_title %></del>
                </h4>

                    <span class="time">创建:<% task.createTime.minute %> </span>
                    <% if (task.isPrivate) { %>
                      <em tabindex="0" class="privatetag">私</em>
                      <% }%>
                        &nbsp;
                        <span class="time">完成:<% task.finishTime.minute %> </span> &nbsp;
                        <a name="recover" titleid="<% task._id%>" href="javascript:void(0);">恢复</a>&nbsp;
                        <% } %>
                          <a name="edit" titleid="<% task._id%>" href="javascript:void(0);">修改</a> &nbsp;
                          <a name="delete" titleid="<% task._id%>" href="javascript:void(0);">删除</a>
          </li>
          <% } %>
  </script>

  <!-- js -->
  <script src="task.js"></script>

</body>

</html>