body { background:#EEE; }
.box { margin-bottom:20px; }
.clear { clear:both; }
.left { text-align:left; }
.right { text-align:right; }
.tips { color:#CCC; }
.v_top { vertical-align:top; }
.tips { color:#666; }
.long_txt{
  width: 100%;
  outline: none;
  border: none;
  border-bottom: solid 1px #777;
  height: 35px;
}
ul{
  margin: 0px;
  padding: 0px;
}
textarea { line-height:1.5em; }
image { border:none; }
p { line-height:1.5em; }
a { color:#3366CC; text-decoration:underline; }
a:hover { color:#FF3300; }
.privatetag{
    margin:3px;
    padding:0px 4px;border-radius:3px;
    border: 1px solid #e00;
    color:#e00;
    font-size:12px;
    margin-left:5px;
}

.time{
    font-size: 12px;
}
.submit{
  background: green;
  color: white;
  width: 60px;
  height: 25px;
  cursor: pointer;
  margin-top: 10px;
}
.edit-save{
  background: green;
  color: white;
  width: 60px;
  height: 25px;
  cursor: pointer;
  margin: 10px;
  margin-left: 15px;
}
#cancelEdit{
  background: gray;
  color: white;
  width: 60px;
  height: 25px;
  cursor: pointer;
}

.popuplayer{
    position:fixed;
    width:480px;
    height:440px; left:50%;
    top:50%; margin-left:-240px;
    margin-top:-220px;
    height:auto; z-index:100;
    background-color:#fff; display:none;
}
#editInput{
    width: 450px;
    margin: 15px;
    height: 70px;
}
#BgDiv{
    background-color:#e3e3e3; position:absolute;
    z-index:99; left:0; top:0; display:none;
    width:100%; height:1000px;opacity:0.7;
    filter: alpha(opacity=70);-moz-opacity: 0.7;
}

.page { width:750px; margin:10px auto; background:#FFF; padding:10px 20px;
    border:1px solid #CCC; border-radius:5px; }
    .main {  }
        .main_content { }
            .box h3 { font-weight:400; color:green; font-size:28px;}
            .title-day {font-size: 22px;color: blue}
            .title-li {
                margin-bottom: 0px !important;
                padding-bottom: 0px !important;
                border-bottom: solid 2px #777 !important;
                margin-top: 20px;
            }
            .unfinish-title{
              width: 100%;
              font-weight: bold;
              word-wrap: break-word;
              display: inline-block;
              padding-left:28px;
              background:url(../../public/img/doing.png) no-repeat left top;
              background-size: 25px;
            }
            .tasks {}
                .tasks ul li {
                    list-style-type:none;
                    margin-bottom:10px;
                    border-bottom:1px dashed green;
                    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
                }
                .tasks ul li.finished { color:#666; }
                .tasks ul li a { color:#666;font-size: 12px }
                .tasks ul li > a { display: none }
                .tasks ul li h4 a { display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
                .tasks ul li del {
                    opacity: .5;
                    padding-left:25px;
                    display: inline-block;
                    background:url(../../public/img/finished.png) no-repeat left top;
                    background-size: 25px;
                    width: 100%;
                }
                .tasks ul li del a{
                  margin-left: 3px;
                }

            .post {border: 3px dotted green;padding: 15px;  }
                .post p { margin-bottom:10px; }
                .post .submit { line-height:normal; -padding:0; }

#loading_div{
  position:fixed;
  bottom:0px;
  height:20px;
  display:none;
  background:rgba(69,139,0,.5);
  width:100%;
  text-align:center
}
#tips_div,#err_div{
  display:none;
  position:fixed;
  margin:auto;
  width:100%;
  height:25px;
  top:0px;
  left:50%;
  transform: translate(-50%, 0%);
  color:white;
  background:rgba(0,238,2,.5);
  font-size:16px;
  text-align:center;
}
#err_div{
  background:red;
}

/*简单的响应式样式*/
@media screen and (max-width: 720px) {
  .page {
    width: 90%;
  }
  h4{
    font-size: 16px;
  }
  .popuplayer{
		width: 90%;
		left: 5%;
		margin-left: 0px;
  }
  #editInput{
  	width: 90%;
  }
  input{
  	margin-right: 5px;
    outline:none;
    border: none;
    border-bottom:1px solid #aaa;
  }
  .unfinish-title{
    word-break:break-all;
    width: 90%;
  }
   .tasks ul li del{
     width: 90%;
   }
}
