@chartset "utf-8";
body {
    background-color: #fff;
}

header{
    overflow: hidden;
}

article p,
article ol,
article li {
    line-height: 180%;
}

.post_article {
    width: 100%;
}

img {
    max-width: 100%;
}

em {
    font-size: 14px;
    font-style: normal;
}

em:after {
    content: "\”";
    padding: 0 3px;
    transform: rotateZ(-20deg);
    color: #7ca5e2;
    font-size: 14px;
}

em:before {
    content: "\“";
    padding: 0 3px;
    transform: rotateZ(-20deg);
    color: #7ca5e2;
    font-size: 14px;
}

blockquote {
    background: #eaeae4;
    border-left: 3px solid #2b8fb4;
    margin: 0;
    padding: .25em 5px;
    quotes: "\201C""\201D""\2018""\2019";
}
/*
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}*/

blockquote p {
    display: inline;
}

::selection {
    background-color: greenyellow;
}


/* 滚动条长宽 */

::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}


/* 滚动槽 */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #111;
    border-radius: 1px;
}


/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aaa;
    -webkit-box-shadow: inset 0 0 6px #333;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #555;
}

.edit {
    margin: 3px;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: cornflowerblue;
    color: #333;
    font-size: 13px;
}

.edit:hover {
    text-decoration: none;
    color: #fff;
    -webkit-transition: color .2s linear;
}

.prepage a {
    float: left;
    text-decoration: none;
    padding: .5em 1em;
    color: #f00;
    font-weight: bold;
}

.nextpage a {
    float: right;
    text-decoration: none;
    color: #f00;
    font-weight: bold;
}

.prepage a:hover,
.nextpage a:hover {
    text-decoration: none;
    background-color: #f00;
    color: #f9f9f9;
    -webkit-transition: color .2s linear;
}

.archive {
    list-style: none;
    line-height: 28px;
}

.archive li {
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.archive h3 {
    margin: 0.5em 0;
    cursor: pointer;
}

.archive h3:before {
    content: attr(dataContent);
    color: white;
    font-size: 16px;
    margin-right: 20px;
    background: rgba(111, 111, 111, .3);
    border-radius: 50%;
    padding: 2px 2px;
}

.archive time {
    float: left;
    font-size: 14px;
    color: #999999;
    margin-right: 1.2em;
}

.l_head {
    float: left;
    margin-left: -4em;
    box-shadow: 0px 1px 4px #888;
}

.r_head {
    float: right;
    margin-top: -2.5em;
    box-shadow: 0px 1px 4px #888;
    width: 25px;
}

.success-notice {
    position: fixed;
    color: white;
    background: green;
    text-align: center;
    opacity: .8;
    padding: 8px 60px;
    width: 10%;
    animation: dispear 5s forwards;
}

article {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    margin: 3% 20% 5% 8%;
    padding: 2% 2% 5% 2%;
    width: 66%;
    line-height: 150%;
    border: 1px solid LightGrey;
}

article strong{
    font-size: 20px;
}

.seemore {
    font-size: 14px;
    color: #4a75b5;
    display: block;
    margin-bottom: 35px;
}

.copyright-article {
    background: #ddd;
    font-size: 12px;
    margin-top: 35px;
}


/* ## 作为文章的标题 */

H1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 100%;
    line-height: 150%;
    color: #666666;
    margin: 0px;
}


/* 首页文章列表标题 */

h1,
h2 {
    text-transform: uppercase;
}

h2 a {
    color: #444 !important;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease;
    /*font-family: Michroma, 'Segoe UI Light', 'Segoe UI', 'Segoe UI WP', 'Microsoft Jhenghei', '微软雅黑', sans-serif, Times;*/
    /*font-family: Palatino, Garamond, Times, Georgia, serif;*/
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 100;
}

h2 a:hover {
    color: #2a6496 !important;
    text-decoration: none !important;
}


/* ### 作为段落的标题 */

H3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 35px;
    margin-bottom: 15px;
    border-bottom: 1px #ccc solid;
    width: 98%;
    line-height: 150%;
    color: #111;
    font-size: 26px;
}

H4 {
    margin-top: 20px;
    color: #666;
    font-family: normal;
    font-family: 微软雅黑;
}

.h4 > a {
    color: #555;
    margin-left: 5px;
    font-size: 12px;
}

code {
    font-size: 14px;
    line-height: 1.5;
    font-family: inherit;
    background: #f6f6f6 !important;
}

nav {
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 1em;
    text-transform: uppercase;
    text-align: left;
    margin-top: 3%;
}

nav a {
    display: block;
    text-decoration: none;
    padding: .7em 1em;
    color: #2b8fb4;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav a:hover {
    background-color: #f33;
    color: #f9f9f9;
    -webkit-transition: color .1s linear, background-color 0.8s ease;
}

article a {
    color: #026ed2;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-weight: 600;
}

article a:hover {
    color: #0079ec;
    border-bottom: 3px solid #f1ece9;
}

.index-title {
    /*padding: 8px;
    border: dashed 1px #d9d9d9;
    background: rgba(220, 220, 220, .5)*/
    font-size: 30px;
    margin: 15px 0px;
    color: #262b30;
    position: relative;
    font-weight: bold;
}

article > h2:nth-child(3) {
    margin-top: 0px !important;
}


/*
.index-title:before {
    content: '';
    border-left: 2px solid #aaa;
    position: absolute;
    left: -2px;
    height: 100%;
    top: 0%;
}*/

.index-info {
    margin-bottom: 5px;
    font-size: 14px;
    color: #b6b6b6;
}

.info {
    margin-bottom: 20px;
    font-size: 14px;
    color: #b6b6b6;
}

.tag {
    font-size: 14px;
    color: #4a75b5;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 8px;
    text-decoration: underline;
}

.tag:hover {
    text-decoration: underline;
    -webkit-transition: color .2s linear;
}

.privatetag {
    margin: 3px;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #e00;
    color: #e00;
    font-size: 13px;
}

.website-info {
    margin-top: 25px;
    padding-bottom: 10px;
    color: #aaa;
    text-align: right;
    border-top: 1px solid #666;
    padding-top: 10px;
    font-size: 14px;
    clear: both;
    width: 98%;
}

.website-info a {
    color: #888;
    text-decoration: none;
}

.website-info a:hover {
    color: #ccc;
    text-decoration: underline;
}


/* 文章目录导航 */
#menuIndex {
    position: fixed;
    color: #2a6496;
    top: 100px;
    bottom: 10px;
    right: 15px;
    width: 200px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #ddd;
    font-family: "Microsoft Yahei";
}

#menuIndex a {
    display: block;
    padding: 2px 0;
    text-decoration: none;
}

#menuIndex a:hover {
    text-decoration: none;
}

#menuIndex ul li {
    font-size: 14px;
    margin-bottom: 5px;
    word-wrap: break-word;
    padding-left: 10px;
}

#menuIndex ul li.on {
    background-color: #bbb;
}

#menuIndex li.h1 {
    font-size: 18px;
    font-weight: normal;
    padding-left: 0;
    margin-bottom: 10px;
}

#menuIndex li.h3 {
    padding-left: 25px;
}

/*
  搜索框样式
*/
.searchform {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 10;

}

.searchinput {
    width: 180px;
    height: 25px;
}

.searchinput:focus {
    animation: glow 800ms ease-out infinite alternate;
    outline: none;
}

.searchbutton {
    position: absolute;
    top: 0px;
    left: 183px;
    width: 25px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
    border: 1px solid #AAA;
    border-left: none;
    border-top: none;
    background: linear-gradient(to bottom, #F5F5F5, #EEEEEE);
    background: -webkit-linear-gradient(top, #F5F5F5, #EEEEEE);
    filter: progid: DXImageTransform.Microsoft.Gradient(startColorstr=#F5F5F5, endColorstr=#EEEEEE);
}

#autodiv {
    background-color: #f5f5d5;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0px rgba(65, 105, 225, .2), inset 0 0 0px rgba(65, 105, 225, .1);
    }
    100% {
        box-shadow: 0 0 10px rgba(65, 105, 225, .9), inset 0 0 5px rgba(65, 105, 225, .4);
    }
}

@keyframes dispear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.tools-wrapper {
    position: fixed;
    right: 15px;
    bottom: 35px;
    z-index: 9;
    width: 40px;
    transition: background-color 0.3s;
    -webkit-user-select: none;
}

.tools-wrapper a {
    display: block;
    color: #999;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: -1px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.32);
}

.tools-wrapper a:hover {
    text-decoration: none;
    color: #555;
    transition: all 0.3s;
}

@font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.eot");
    src: url("../fonts/iconfont.eot?#iefix") format('embedded-opentype'), url("../fonts/iconfont.woff") format('woff'), url("../fonts/iconfont.ttf") format('truetype'), url("../fonts/iconfont.svg#iconfont") format('svg');
}

.icon {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


/* 弹出框 */

.alertInfo {
    position: fixed;
    right: -9999px;
    bottom: 40px;
    z-index: 10;
    background-color: #f5f5d5;
    padding: 12px 18px;
    border-radius: 2px;
    box-shadow: 0 0 4px #ccc, 0 0 1px #fff;
    color: #777;
}

.alertInfo .alert-avatar {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 100%;
    margin-right: 5px;
}


/* 微博样式设置 */

.weibo {
    position: absolute;
    top: 100px;
    right: 5px;
    width: 220px;
    height: 350px;
    box-shadow: 1px 0 15px rgba(0, 0, 0, .3);
}

.close-weibo {
    margin-left: 8px;
    width: 15px;
    height: 15px;
    /*文字垂直居中*/
    line-height: 15px;
    overflow: hidden;
    background: #777;
    float: right;
    cursor: pointer;
    text-align: center;
    color: white;
}

.submit {
    background: green;
    color: white;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
}


/* 悬挂链接 */

.ui.breadcrumb {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0%);
}

.ui.breadcrumb .section {
    display: inline-block;
    transform: skew(-20deg);
    padding: 5px;
    font-size: 0.8em;
    color: #000;
    opacity: .8;
    cursor: pointer;
    text-decoration: none;
}

.ui.breadcrumb .section:hover {
    box-shadow: 2px 2px 4px #000;
    transition: box-shadow 1s;
}

.lab-link {
    border: solid 1px #33FF99;
}

.thought-link {
    background: yellow;
}

.movie-link {
     border: solid 1px #6699CC;
}

.task-link {
     border: solid 1px #33FF99;
}

/* 换肤链接 */

.changebackground {
    position: absolute;
    right: 0%;
    top: 0px;
}

.changebackground .white {
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #aaa;
    display: inline-block;
}

.changebackground .yellow {
    width: 20px;
    height: 20px;
    background: #f5f5d5;
    border: 1px solid #aaa;
    display: inline-block;
}


/*分页nav*/
.pagination-right {
    text-align: right;
}

.pagination {
    margin: 10px 0;
    font-size: 14px;
}

.pagination ul {
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);*/
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    float: right;
}

.pagination ul li {
    display: inline;
}

.pagination ul li .pagination-first {
    border-left-width: 1px;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination ul li a,
.pagination ul li span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 20px;
    padding: 5px 15px;
    text-decoration: none;
}

.pageJump {
    float: left;
    line-height: 30px;
    text-decoration: none;
    color: #999;
}

.pageJump input {
    height: 12px;
    line-height: 12px;
    width: 24px;
    text-align: center;
    padding: 6px 4px;
    border: #ddd 1px solid;
}

#Paginator a {
    color: #556677
}

.now_page {
    background-color: #fff !important;
    cursor: text;
    color: #4a75b5 !important;
}


/*links page*/

.links-img {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    border-radius: 20%;
}

.link-person {
    display: inline-block;
    position: relative;
    margin: 10px 15px;
}
.link-person a{
    display: block;
}

/*标签云*/

#tagscloud {
    position: relative;
    margin: 20px auto 0px;
    width: 400px;
    height: 350px;
}

#tagscloud a {
    position: absolute;
    top: 0px;
    font-size: 18px;
    text-decoration: none;
    left: 0px
}

#tagscloud a:hover {
    border: #eee 1px solid;
    color: #f33;
}


/* 上传 */

#dropbox {
    margin-top: 50px;
    background: #f0f2f4;
    transition: background .15s ease, border .15s ease;
    position: relative;
    height: 200px;
    min-width: 300px;
    min-height: 100px;
    border: 3px dashed silver;
}

.modal-dropzone-img {
    background-image: url('../img/img-upload.svg'), none;
    background-position: 0 0;
    width: 86px;
    height: 78px;
    position: absolute;
    top: 88px;
    left: 50%;
    margin-left: -43px;
}

.modal-dropzone-img:before {
    display: block;
    position: absolute;
    content: '';
    transition: all .15s ease;
    background-image: url('../img/img-upload.svg'), none;
    background-position: -120px -21px;
    width: 156px;
    height: 65px;
    top: -44px;
    left: -33px;
}

.modal-dropzone-img:after {
    display: block;
    position: absolute;
    content: '';
    transition: all .15s ease;
    background-image: url('../../img/img-upload.svg?v=88d0cb836f89'), none;
    background-position: -130px -90px width: 53px;
    height: 61px;
    top: -66px;
    left: 18px;
}

#dropbox p {
    text-align: center;
    margin-top: 146px;
    margin-bottom: 0;
    color: #8495a4;
    font-size: 16px;
}

input[type="file"] {
    -webkit-appearance: none;
    text-align: left;
    -webkit-rtl-ordering: left;
}

input[type="file"]::-webkit-file-upload-button {
    -webkit-appearance: none;
    float: right;
    margin: 0 0 0 10px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d2d0d0), to(#f0f0f0));
    background-image: -moz-linear-gradient(90deg, #d2d0d0 0%, #f0f0f0 100%);
}


/*简单响应式样式*/

@media screen and (max-width: 720px) {
    h1 {
        margin-top: 20px;
        text-align: center;
    }
    header {
        text-align: center;
    }
    .ui.breadcrumb {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 0px;
        text-transform: translate(-50%, 0%);
    }
    .searchform {
        float: none;
    }
    nav {
        float: none;
        width: 100%;
        display: inline-flex;
        margin-top: 1%;
        font-size: 1em;
        margin-top:40px;
    }
    article {
        width: 96%;
        margin: 2% 2%;
        padding: 0px;
    }
    .weibo {
        display: none;
    }
    blockquote {
        padding: 0.5em 1em;
        margin: 1em 1em;
        -moz-border-radius: 1em;
        /* FF1+ */
        -webkit-border-radius: 1em;
        /* Saf3+, Chrome */
        border-radius: 1em;
        border-width: 0.15em;
    }
    #menuIndex {
        display: none;
    }
    article > h2:nth-child(3) {
        margin-top: 15px !important;
    }
    .cycle-outer{
        transform: scale(0.5);
        margin-top:0px !important;
    }
    article{
        font-size: 14px;
    }
    .index-title{
        font-size: 24px;
    }
}
