/*resume page styles*/
@chartset "utf-8";
body{
	background-color: #618dad;
}
a{
	text-decoration:none !important;
	outline:none !important;
}
#page{
	max-width:1200px;
	position:relative;
	margin:0 auto;
	background:#fff;
}
#page:before{
	content:'';
	display:block;
	position:absolute;
	height:100%;
	width:300px;
	background:#333;
}
/*这里需要做屏幕适配*/
.container{
	width:1200px;
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;
	box-sizing:border-box;
}
#page>.container>.row{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}
.row{
	margin-left:-15px;
	margin-right:-15px;
}
#secondary{
	position:relative;
	color:rgba(255,255,255,0.5);
	padding:0px;
}
#secondary a{
	color:#fff;
}
#primary{
	background:#fff;
	padding:0px;
}
.col-3{
	width:25%;
	float:left;
}
.col-4{
	width:33.333333%;
	float:left;
}

.col-9{
	width:75%;
	float:left;
}

#headinfo .hgroup{
	border-bottom:1px solid rgba(255,255,255,0.1);
}
#headinfo .me-title{
	font-family:Amatic SC;
	line-height:50px;
	font-size:40px;
	margin:0;
	padding:30px 0;
	text-align:center;
	text-transform:uppercase;
}
#headinfo .me-description{
	font-size:12px;
	margin:-15px 0 30px;
	line-height:20px;
	text-align:center;
}

.info-block {
	text-align:center;
	border-bottom:1px solid rgba(255,255,255,0.1);
}
.info-block  span{
	font-size:12px;
}
.info-nav{
	padding: 0px;
	margin-top: 0px;
}
.info-nav > li{
	cursor: pointer;
	list-style: none;
	padding: 10px 50px;
	border-bottom:1px solid rgba(255,255,255,0.1);
}
li.active{
	background-color: rgba(110,110,110,.5);
}
.contact-info{
	margin-top: 150px;
	margin-bottom: 0px;
	list-style: none;
	padding: 0px;
}

.contact-info>li{
	padding: 5px 10px;
	display: inline-block;
}

