/* inspired by http://yihui.name/cn/ */
*{padding:0;margin:0;}
nav{float:left;font-family:"Microsoft YaHei";font-size:1.1em;text-transform:uppercase;margin-left:-12em;width:9em;text-align:right;}
nav a{display:block;text-decoration:none;padding:.7em 1em;color:#000;}
nav a:hover{background-color:#f00;color:#f9f9f9;-webkit-transition:color .2s linear;}
article a{color:#d00;text-decoration:none;}
article a:hover{color:#333;text-decoration:underline;}

.edit{margin:3px;padding:2px 5px;border-radius:3px;background-color:#f3f3f3;color:#333;font-size:13px;}
.edit:hover{text-decoration:none;background-color:#f00;color:#fff;-webkit-transition:color .2s linear;}
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#f00;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#f00;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#f00;color:#f9f9f9;-webkit-transition:color .2s linear;}
.archive{list-style:none;line-height:28px;}
.archive h3{margin:0.5em 0;}
.archive time{float:left;font-size:14px;color:#999999;margin-right:1.2em;}

.search{border:0;width:6em;text-align:center;font-size:1em;margin:0.5em 0;}
.l_head{float:left;margin-left:-4em;box-shadow:0px 1px 4px #888;}
.r_head{float:right;margin-top:-2.5em;box-shadow:0px 1px 4px #888;width:25px;}

/*self define*/
.website-info {
  margin-top: 25px;
  padding-bottom: 10px;
  color: #aaa;
  text-align: right;
  border-top: 1px solid #666;
  padding-top: 10px;
  font-size: 14px;
}
.website-info a {
  color: #888;
  text-decoration: none;
}
.website-info a:hover {
  color: #ccc;
  text-decoration: underline;
}


/* 全局样式 */
body {
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 18px;
    margin: 5% 20% 5% 20%;
    padding: 2% 5% 5% 5%;
    width: 50%;
    line-height: 150%;
    border: 1px solid LightGrey;
}

/* ### 作为段落的标题 */
H3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666;
}

/* ## 作为文章的标题 */
H2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #666666;
}

.info{
	margin-bottom: 20px;
	font-size:14px;
}

.tag{
	font-size:14px;
	color:#4a75b5;display:inline-block;
	padding:0 5px;
	margin-bottom:8px;
	text-decoration:underline;
}
.tag:hover{text-decoration:underline;-webkit-transition:color .2s linear;}

.privatetag{
	margin:3px;padding:2px 5px;border-radius:3px;
	background-color:#ee0000;
	color:#ddd;font-size:13px;
}





