</article>

<!-- weibo shiow -->
<div class="weibo" >
	<div class="close-weibo" ><span>x</span></div>
</div>

<!-- 回顶部 -->
<div class="tools-wrapper" tabindex="0" aria-hidden="true">
	<a class="gotop icon" href="#" title="回到顶部" style="display: block;">↑</a>
</div>

<!-- 脚注 -->
<div class="website-info">
	<span>Copyright &copy;2013-2016 </span> |
	<span>粤ICP备14081691号</span> |
	<a href="/">kobepeng</a> | <a href="/about#contact">联系方式</a>
</div>

<!-- 代码高亮 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/9.1.0/styles/vs.min.css">
<script src="//cdn.jsdelivr.net/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- jquery -->

<script src="//cdn.bootcss.com/jquery/1.7.2/jquery.min.js"></script>
<!-- 
<script src="/public/js/jquery.js"></script>
-->

<!-- 博客代码 -->
<script src="/public/js/my_blog.js"></script>
</body>
</html>