</article>

<!-- 脚注 -->
<div class="website-info">
	<span>Copyright &copy;2013-2016 </span> |
	<span>粤ICP备14081691号</span> |
	<a href="/">kobepeng</a> | <a href="/about#contact">联系方式</a>
</div>
</body>
</html>