<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>kobepeng</title>
<meta name="keywords" content="前端开发,生活趣事" />
<meta name="description" content="kobepeng的个人站，欢迎访问交流。" />
<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
<span class="searchform">
	<form id="searchartical" action="/search" method="GET">
        <input class="searchinput" name="keyword" value="" placeholder="文章">
        <a class="searchbutton" name="submit"  href="JavaScript:" title="搜索！"onclick="document.getElementById('searchartical').submit();return false" >搜
        </a>
	</form>
</span>
</header>

<nav>
  <span><a title="主页" href="/">home</a></span>
  <span><a title="存档" href="/archive">archive</a></span>
  <span><a title="标签" href="/tags">tags</a></span>
  <span><a title="友情链接" href="/links">links</a></span>
  <span><a title="关于我" href="/about">about</a></span>
  <% if (user) { %>
    <span><a title="上传" href="/upload">upload</a></span>
    <span><a title="发表" href="/post">post</a></span>
    <span><a title="登出" href="/logout">logout</a></span>
  <% }  %>
</nav>

<% if (success) { %>
  <div class="success-notice"><%= success %></div>
  <script type="text/javascript"> setTimeout(function(){
    document.getElementsByClassName('success-notice')[0].style.display="none";
  },4500);
  </script>
<% } %>

<% if (error) { %>
  <div><%= error %> </div>
<% } %>
<article>


