<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>kobepeng | 博客</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="author" content="kobepeng" />
<meta name="keywords" content="kobepeng,yipeng,技术生活博客" />
<meta name="description" content="kobepeng的博客，欢迎访问交流。" />
<link rel="stylesheet" href="/public/common/css/lib/normalize.css">
<link rel="stylesheet" href="/public/common/css/lib/main.css">
<link rel="stylesheet" href="/public/common/css/plugins/checkbox.css">
<link rel="stylesheet" href="/public/common/css/lib/csshake.min.css">
<link rel="stylesheet" href="/public/css/blog.css">
</head>

<body>
  <header>
  <h1><%= title %></h1>
  <span class="searchform">
  	<form id="searchartical" action="/search" method="GET">
          <input class="searchinput" id="searchdiv" name="keyword" value="" placeholder="文章" autocomplete="off">
  	</form>
    <a class="searchbutton" name="submit"  href="JavaScript:"
          title="搜索！"onclick="document.getElementById('searchartical').submit();return false" >搜
    </a>
  </span>
  <!-- 悬挂链接
  <a class="section thought-link" href="/projects/thought/thoughts.html" target="_blank">随想录</a><a class="section movie-link" href="/projects/movie_coment/movie_comments.html" target="_blank">影评</a>
  task-link -->
  <div class="ui breadcrumb">
        <a class="section lab-link" href="http://labroom.yipeng.info" target="_blank">实验室</a><a class="section thought-link" href="http://task.yipeng.info" target="_blank">任务</a><a class="section movie-link " href="/projects/countdown/" target="_blank">倒计时</a><% if (user) { %><a class="section movie-link " href="http://115.29.51.196:3001/" target="_blank">博文爬虫</a> <% }  %>
  </div>
  <!-- -->
  <div class="changebackground">
      <a class="white" href="#"></a><a class="yellow" href="#"></a>
  </div>
  </header>

  <nav>
    <span><a title="主页" href="/blog">主页</a></span>
    <span><a title="存档" href="/archive">归档</a></span>
    <span><a title="标签" href="/tags">标签</a></span>
    <span><a title="友情链接" href="/links">友链</a></span>
    <span><a title="关于我" href="/about">找我</a></span>
    <% if (user) { %>
      <span><a title="上传" href="/upload">上传</a></span>
      <span><a title="发表" href="/post">发表</a></span>
      <span><a title="登出" href="/logout">登出</a></span>
    <% }  %>
  </nav>

  <% if (success) { %>
    <div class="success-notice"><%= success %></div>
    <script type="text/javascript"> setTimeout(function(){
      document.getElementsByClassName('success-notice')[0].style.display="none";
    },4500);
    </script>
  <% } %>

  <% if (error) { %>
    <div><%= error %> </div>
  <% } %>
  <article>


