<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>Blog Entry | 小胡子哥的个人网站</title>
  <meta name="viewport" content="width=device-width,height=device-height,user-scalable=0">
  <meta name="email" content="barret.china@gmail.com">
  <meta name="description" content="blog_entry page: /entry/index.html">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Blog Entry | 小胡子哥的个人网站">
  <meta property="og:url" content="http://www.barretlee.com/entry/index.html">
  <meta property="og:site_name" content="Blog Entry">
  <meta property="og:description" content="blog_entry page: /entry/index.html">
  <link rel="shoticon" href="http://www.barretlee.com/favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <link href="http://www.barretlee.com/blogimgs/app-icon.png" rel="apple-touch-icon-precomposed">
  <link rel="alternate" type="application/rss+xml" href="http://www.barretlee.com/rss2.xml" title="小胡子哥的个人网站" />
<script type="text/javascript" src="../bundle.js" charset="utf-8"></script> 

</head>

<body>
    <div class="rainbow"></div>
    
	<div class="entry-wrapper clearfix">

	<h1 class="clearfix">
		<a href="/">小胡子哥</a> » 博客
		<em  class="arrow-expend">▾
			<ul>
				<li><a href="/message/">留言</a></li>
				<li><a href="/about/">关于</a></li>
				<li><a href="/demo/">实验室</a></li>
				<li><a href="/comments/">最近评论</a></li>
				<li><a href="/friends/">友情链接</a></li>
			</ul>
		</em>
		<a href="/rss2.xml" class="web-feed" title="RSS订阅" target="_blank"><i class="func-rss icon">&#x25c8;</i></a>
		<span class="entry-page-search">
        <input type="text" placeholder="Google 站内搜索">
        <i class="icon">&#x2708;</i>
    </span>
	</h1>

	<div class="clearfix">
	<div class="rightbar">
		<div class="entry-cates">
			<h2>文章分类</h2>
			<ul>
				
				
				<li><a href='/blog/categories/观点和感想/'>观点和感想</a></li>
				
				<li><a href='/blog/categories/前端杂烩/'>前端杂烩</a></li>
				
				<li><a href="/blog/categories/JavaScript/">更多分类...</a></li>
				
			</ul>
		</div>
		<div class="rightbar-frame"></div>
	</div>
		
		<div class="entry-recent-post clearfix" itemscope itemtype="http://schema.org/Article">
			<h3 itemprop="name"><a href="/blog/2015/12/10/after-framework-we-gonna-to-hug-data/" itemprop="url">近几年前端技术盘点以及 2016 年技术发展方向</a></h3>
			<p itemprop="description">年间前端技术的革新，同时也会从多个角度，解读近几年前端技术发展的潜在因素，其中穿插了若干对前端演进的拙见，难免会有错误和疏漏，望读者可以补充和斧正。
				<a href="/blog/2015/12/10/after-framework-we-gonna-to-hug-data/">阅读全文 »</a>
			</p>
			<span>
				Post by
				<a href="/about/">Barret Lee</a>
				at <a href="/blog/categories/undefined/">
	<a class="category-link" href="/blog/categories/前端杂烩/">前端杂烩</a>,<a class="category-link" href="/blog/categories/前端杂烩/网络技术/">网络技术</a>

</a>
				on <time>2015-12-10</time>
				&nbsp;<b
						class="ds-thread-count disqus-comment-count"
						data-thread-key="after-framework-we-gonna-to-hug-data"
						data-disqus-identifier="after-framework-we-gonna-to-hug-data"></b>
			</span>
		</div>

		<div class="entry-recent-posts">
			<h2><a href="/blog/archives/">博客归档 »</a>近期文章</h2>
			<ul itemscope itemtype="http://schema.org/Article">
			
				<li><span itemprop="timeCreated">2016-01-03 » </span><a href="/blog/2016/01/03/where-is-time-goning/" itemprop="url" itemprop="name">时间都去哪儿了？
					<em class="entry-item-tag">辞旧迎新</em></%>
				</a> <span><b
								class="ds-thread-count disqus-comment-count"
								data-thread-key="where-is-time-goning"
								data-disqus-identifier="where-is-time-goning"></b></span></li>
			
				<li><span itemprop="timeCreated">2015-12-10 » </span><a href="/blog/2015/12/10/after-framework-we-gonna-to-hug-data/" itemprop="url" itemprop="name">近几年前端技术盘点以及 2016 年技术发展方向
					<em class="entry-item-tag">技术盘点</em></%>
				</a> <span><b
								class="ds-thread-count disqus-comment-count"
								data-thread-key="after-framework-we-gonna-to-hug-data"
								data-disqus-identifier="after-framework-we-gonna-to-hug-data"></b></span></li>
			
				<li><span itemprop="timeCreated">2015-11-20 » </span><a href="/blog/2015/11/20/new-input-methed-rime/" itemprop="url" itemprop="name">换新的输入法，Rime
					
				</a> <span><b class="ds-thread-count disqus-comment-count"
								data-thread-key="new-input-methed-rime"
								data-disqus-identifier="new-input-methed-rime"></b></span></li>
		
				<li><a href="/blog/archives/">更多文章...</a></li>
			
			</ul>
		</div>
	</div>
	



<div class="ds-thread" data-thread-key="entry/index.html" data-title="Blog Entry" 
data-url="http://www.barretlee.com/entry/index.html" 
data-name="barretlee">
	<div class="ds-loading">
		<img src="/blogimgs/loading.gif" alt="loading..."/>
		<p>这网速真是弱爆了...客官稍等,评论还在加载~</p>
	</div>
</div>

<!-- 脚注 -->
<div class="website-info">
	<span>Copyright &copy;2013-2016 <small><a href="http://www.miitbeian.gov.cn/" about="_blank">湘ICP备14007107号-1</a></small></span>
	本站由 <a href="/">小胡子哥</a> 纯手工打造 | <a href="/about#contact">联系方式</a>
</div>

</div>

</body>
</html>
