<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width，initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS 
      <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
	 
    -->
	<!-- 放这里也是无赖，其不兼容-->
	<script src="http://cdn.bootcss.com/raphael/2.1.4/raphael-min.js"></script>
	
	<script src="/projects/labroom/sea.js"></script>
	<link rel="stylesheet" href="/public/css/labroom.css">
	<script type="text/javascript">
		
		seajs.config({
				base: './',
				alias: {
					 'labroom':'/public/js/labroom.js',
					 'navbar':'/projects/navbar.js',
					 'treeList': '/projects/labroom/treeList.js',
					 'accordionMenu': '/projects/labroom/accordionMenu.js',
					 'svgmap': '/projects/labroom/svgmap/svgmap.js?12',
					 
					 'dashchart': '/projects/labroom/dashchart.js?12',
					 'scatterchart': '/projects/labroom/scatterchart.js?12',
					 'barchart': '/projects/labroom/barchart.js?12'
				}
		});
	</script>			
				
  </head>
  <body>
    <div class="labroom-title">实验室</div>
	
    <div  class="labroom-nav"> </div>
	
	 <div class="content-panel">
	 <div id="raphael_charts" style="display:none">
	 </div>
	 
	  <div id="raphelchart" class="projectboard" style="display: none">
            <div class="menu" style="font-size: 12px; overflow: auto;">
            </div>
            <div class="page">
                <div class="page-name" style="height: 30px">
                </div>
                <div class="page-content">
                </div>
            </div>
      </div>
	 
	 </div>
	 
 
	<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<script src="/projects/labroom/svgmap/res/bigArea.js"></script>
    <script src="/projects/labroom/svgmap/map.js"></script>
	
    <script src="/projects/labroom/helper.js"></script>
    <script src="/projects/labroom/bar-chart.js"></script>
    <script src="/projects/labroom/scatter-chart.js"></script>
    <script src="/projects/labroom/raphael.charts.js"></script>

   <script>
    // init
	seajs.use('labroom');
   </script>
 

   <!--   <script src="/public/js/labroom.js"></script>
   <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>-->
  </body>
</html>