<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width，initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS 
      <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    -->
    <style type="text/css">
      .chart{
        width: 400px;
        height: 150px;
      }
      #dashChart{
        height: 300px;
        text-align: center;
      }
    </style>
  </head>
  <body style="background-color:#333">
    <h1 style="text-align:center;color:white">[实验室]</h1>
    <div id="barChart" class="chart"> </div>
    <div id="dashChart" class="chart"> </div>
    <div id="scatterChart" class="chart"> </div>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/raphael/2.1.4/raphael-min.js"></script>
    <script src="/public/js/plugins/rapphael-charts/bar-chart.js"></script>
    <script src="/public/js/plugins/rapphael-charts/dash-chart.js"></script>
    <script src="/public/js/plugins/rapphael-charts/scatter-chart.js"></script>
    <script src="/public/js/plugins/rapphael-charts/helper.js"></script>
    <script src="/public/js/labroom.js"></script>

   <!-- <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>-->
  </body>
</html>