<%- include header %>
<ul style="list-style:none;margin-top:-20px">
  <li><h3>偶像级(idol)</h3>

  <div class="link-person  shake shake-hard">
    <img class="links-img" src="../../public/img/link/xiaohuzi.png"/>
    <a href="http://www.barretlee.com/" target="_blank">小胡子哥</a>
  </div>

   <div class="link-person">
     <img class="links-img" src="http://yanhaijing.com/img/facelessman.png"/>
     <a href="http://yanhaijing.com/" target="_blank">颜海镜</a>
   </div>

   <div class="link-person">
    <img class="links-img" src="../../public/img/link/zeroling.png"/>
    <a href="https://www.zeroling.com/" target="_blank">刘晨凌</a>
   </div>
  </li>

  <li>
  <h3>大师级(master)</h3>
   <div class="link-person shake shake-slow">
    <img class="links-img" src="../../public/img/link/yuguo.jpeg"/>
    <a href="https://yuguo.us/" target="_blank">余果</a>
   </div>
  <div class="link-person">
    <img class="links-img" src="https://imququ.com/static/img/blog/ququ.jpg"/>
    <a href="https://imququ.com/" target="_blank">屈光宇</a>
  </div>
  <div class="link-person">
    <img class="links-img" src="http://tp4.sinaimg.cn/1712131295/180/5730482130/1"/>
    <a href="http://jiongks.name/" target="_blank">勾三股四</a>
  </div>
  <div class="link-person">
    <img class="links-img" src="../../public/img/link/gongpeng.png"/>
    <a href="http://lucida.me/" target="_blank">巩朋</a>
  </div>
  </li>


  <li>
  <h3>神人级(god-man)</h3>
  <div class="link-person shake shake-little">
    <img class="links-img" src="../../public/img/link/wangyin.jpeg" />
    <a href="http://www.yinwang.org/" target="_blank">王垠</a>
  </div>
   <div class="link-person">
    <img class="links-img" src="../../public/img/link/byvoid.jpg"/>
    <a href="https://www.byvoid.com/" target="_blank">郭家宝</a>
  </div>
  <div class="link-person">
    <img class="links-img" src="../../public/img/link/yuxuan.png"/>
    <a href="http://evilcos.me/" target="_blank">余弦</a>
  </div>
  </li>

  <li><h3>殿堂级(immortals)</h3>
  <div class="link-person shake-crazy">
    <img class="links-img" src="../../public/img/link/ruanyifeng.jpg" />
    <a href="http://www.ruanyifeng.com" target="_blank">阮一峰</a>
  </div>
   <div class="link-person">
    <img class="links-img" src="http://tp1.sinaimg.cn/1882579600/180/40014409779/1" />
    <a href="http://mindhacks.cn/" target="_blank">刘未鹏</a>
  </div>
   <div class="link-person">
    <img class="links-img" src="http://tva3.sinaimg.cn/crop.0.0.690.690.180/68361562jw8enwloi591dj20j60j6tbt.jpg" />
    <a href="https://lifesinger.wordpress.com/" target="_blank">玉伯</a>
  </div>
  </li>
</ul>
<%- include footer %>
