<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="http://www.barretlee.com/" target="_blank">小胡子哥</a></h3>偶像级学习对象</li>
  <li><h3><a href="https://yuguo.us/" target="_blank">余果</a></h3>大师级学习对象</li>
  <li><h3><a href="http://www.yinwang.org/" target="_blank">王垠</a></h3>神级学习对象</li>
  <li><h3><a href="http://www.ruanyifeng.com" target="_blank">阮一峰</a></h3>殿堂级学习对象！</li>
</ul>
<%- include footer %>