<%- include header %>
<ul style="list-style:none;margin-top:-20px">
  <li><h3>偶像级(idol)</h3>

  <div class="link-person  shake shake-hard">
    <img class="links-img" src="../../public/img/link/xiaohuzi.png"/>
    <a href="http://www.barretlee.com/" target="_blank">小胡子哥</a>
  </div>

   <div class="link-person">
     <img class="links-img" src="http://yanhaijing.com/img/facelessman.png"/>
     <a href="http://yanhaijing.com/" target="_blank">颜海镜</a>
   </div>

   <div class="link-person">
     <img class="links-img" src="http://huangxuan.me/img/avatar-hux.jpg"/>
     <a href="http://huangxuan.me/" target="_blank">黄玄</a>
   </div>

 <div class="link-person">
    <img class="links-img" src="http://tva2.sinaimg.cn/crop.0.0.180.180.180/655534efjw1e8qgp5bmzyj2050050aa8.jpg"/>
    <a href="http://jayli.github.io/" target="_blank">拔赤</a>
   </div>

  <div class="link-person">
    <img class="links-img" src="http://tp4.sinaimg.cn/1712131295/180/5730482130/1"/>
    <a href="http://jiongks.name/" target="_blank">勾三股四</a>
  </div>

   <div class="link-person">
    <img class="links-img" src="http://tva2.sinaimg.cn/crop.0.0.180.180.180/6b29bb61jw1e8qgp5bmzyj2050050aa8.jpg"/>
    <a href="http://madscript.com/" target="_blank">元彦</a>
  </div>
  
  </li>

  <li>
  <h3>大师级(master)</h3>

  <div class="link-person shake shake-slow">
    <img class="links-img" src="https://avatars3.githubusercontent.com/u/153183?v=3&s=460"/>
    <a href="http://sofi.sh/" target="_blank">sofish</a>
   </div>

   <div class="link-person shake shake-slow">
    <img class="links-img" src="https://www.h5jun.com/static/upload/201603/logo.jpg"/>
    <a href="https://www.h5jun.com/" target="_blank">月影</a>
   </div>

   <div class="link-person shake shake-slow">
    <img class="links-img" src="http://photo.zhangxinxu.com/wp/zxx_90_0824.jpg"/>
    <a href="http://www.zhangxinxu.com/wordpress/" target="_blank">张鑫旭</a>
   </div>

  <div class="link-person shake shake-slow">
    <img class="links-img" src="https://avatars0.githubusercontent.com/u/536297?v=3&s=460"/>
    <a href="https://github.com/fouber/blog" target="_blank">张云龙</a>
   </div>
   <div class="link-person shake shake-slow">
    <img class="links-img" src="../../public/img/link/yuguo.jpeg"/>
    <a href="https://yuguo.us/" target="_blank">余果</a>
   </div>
  <div class="link-person">
    <img class="links-img" src="https://imququ.com/static/img/blog/ququ.jpg"/>
    <a href="https://imququ.com/" target="_blank">屈光宇</a>
  </div>

  </li>


  <li>
  <h3>神人级(god-man)</h3>
      <div class="link-person shake shake-little">
        <img class="links-img" src="../../public/img/link/wangyin.jpeg" />
        <a href="http://www.yinwang.org/" target="_blank">王垠</a>
      </div>
      <div class="link-person">
        <img class="links-img" src="http://www.paulirish.com/avatar150.jpg"/>
        <a href="http://www.paulirish.com/" target="_blank">Paul Irish</a>
      </div>
      <div class="link-person">
        <img class="links-img" src="../../public/img/link/byvoid.jpg"/>
        <a href="https://www.byvoid.com/" target="_blank">郭家宝</a>
      </div>
      <div class="link-person">
        <img class="links-img" src="../../public/img/link/yuxuan.png"/>
        <a href="http://evilcos.me/" target="_blank">余弦</a>
      </div>
      <div class="link-person">
        <img class="links-img" src="../../public/img/link/gongpeng.png"/>
        <a href="http://lucida.me/" target="_blank">巩朋</a>
      </div>
      <div class="link-person">
        <img class="links-img" src="http://www.catchen.biz/images/personal_photo.jpg"/>
        <a href="http://www.catchen.biz/cv.zh-CN.html" target="_blank">陈广琛</a>
      </div>
  </li>

  <li><h3>殿堂级(immortals)</h3>
  
  <div class="link-person shake-crazy">
    <img class="links-img" src="../../public/img/link/ruanyifeng.jpg" />
    <a href="http://www.ruanyifeng.com" target="_blank">阮一峰</a>
  </div>
  <div class="link-person">
    <img class="links-img" src="http://tva1.sinaimg.cn/crop.0.0.180.180.180/644f337ajw1e8qgp5bmzyj2050050aa8.jpg" />
    <a href="http://home.wangjianshuo.com/cn/" target="_blank">王建硕</a>
  </div>
   <div class="link-person">
    <img class="links-img" src="http://tva3.sinaimg.cn/crop.0.0.690.690.180/68361562jw8enwloi591dj20j60j6tbt.jpg" />
    <a href="https://lifesinger.wordpress.com/" target="_blank">玉伯</a>
  </div>
  <div class="link-person">
    <img class="links-img" src="https://avatars3.githubusercontent.com/u/1014558?v=3&s=460" />
    <a href=" http://coolshell.cn" target="_blank">耗子叔</a>
  </div>
  <div class="link-person">
    <img class="links-img" src="http://tp1.sinaimg.cn/1882579600/180/40014409779/1" />
    <a href="http://mindhacks.cn/" target="_blank">刘未鹏</a>
  </div>
  <div class="link-person">
    <img class="links-img" src="https://avatars2.githubusercontent.com/u/25254?v=3&s=460" />
    <a href="http://tjholowaychuk.com/" target="_blank">TJ</a>
  </div>


 
  </li>
</ul>

<div style="margin-top: 60px;">更多可以参考:
<a href="https://github.com/pengkobe/following">
github follow</a>,
<a href="http://yipeng.info/p/57281c4f02b77eca70929c84">牛人博客记</a></div>
<%- include footer %>


