<%- include header %>
<ul style="list-style:none">
  <li><h3>偶像级</h3>
  <img class="links-img" src="../../public/img/xiaohuzi.png"/>
  <a href="http://www.barretlee.com/" target="_blank">小胡子哥(李靖)</a>
	<img class="links-img" src="../../public/img/zeroling.png"/>
  <a href="https://www.zeroling.com/" target="_blank">刘晨凌</a>
  </li>
  <li><h3>大师级</h3>
  <img class="links-img" src="../../public/img/yuguo.jpeg"/>
  <a href="https://yuguo.us/" target="_blank">余果</a></li>
  <li><h3>神人级</h3>
  <img class="links-img" src="../../public/img/wangyin.jpeg" />
  <a href="http://www.yinwang.org/" target="_blank">王垠</a>
  <img class="links-img" src="../../public/img/byvoid.jpg"/>
  <a href="https://www.byvoid.com/" target="_blank">郭家宝</a>
  </li>
  <li><h3>殿堂级</h3>
  <img class="links-img" src="../../public/img/ruanyifeng.jpg" />
  <a href="http://www.ruanyifeng.com" target="_blank">阮一峰</a></li>
</ul>
<%- include footer %>