<%- include header %>
<ul style="list-style:none">
  <li><h4><a href="http://www.barretlee.com/" target="_blank">小胡子哥</a></h4>偶像级</li>
  <li><h4><a href="https://yuguo.us/" target="_blank">余果</a></h4>大师级</li>
  <li><h4><a href="http://www.yinwang.org/" target="_blank">王垠</a></h4>神人级</li>
  <li><h4><a href="http://www.ruanyifeng.com" target="_blank">阮一峰</a></h4>殿堂级</li>
</ul>
<%- include footer %>