<%- include header %>
<form method="post">
  标题：<br />
  <input type="text" name="title" /><br />
  标签：<br />
  <input type="text" name="tag1" /><input type="text" name="tag2" /><input type="text" name="tag3" />
  <br />
  发布时间：<br />
  <input type="date" name="date" />
  <input type="time" name="time" />
  <br />
  正文：<br />
  <!-- ;this.select()-->
  <textarea class="post_article" name="post" rows="20" cols="100" onclick="this.focus()"></textarea><br />

  <div class="ui toggle checkbox">
    <input type="checkbox" name="isprivate">
    <label>私有</label>
  </div><br />
  <input class="submit" type="submit" value="发表" />
</form>

<script>
// 自动填写日期框
window.onload=function(){
  var doc = document;
  doc.getElementsByName('date')[0].valueAsDate = new Date();
  doc.getElementsByName('time')[0].value = '13:51';
}
</script>
<%- include footer %>
