<%- include header %>
<div id="tagscloud">
<% posts.forEach(function (tag, index) { %>
  <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
<% }) %>
</div>
<script> </script>

<%- include footer %>

<script src="/public/js/plugins/tagCloud.js"></script>