<%- include header %>
<form method='post' action='/upload' enctype='multipart/form-data' >

  <input type="file" name='photos'/><br>

  <input type="file" name='photos'/><br>

  <input type="file" name='photos'/><br>

  <a href="javascript:;" class="file">
  <input type="file" name='photos'/><br>
  </a>

  <input type="file" name='photos'/><br>

  <input class="submit" type="submit" />
</form>

<!-- 拖拽上传 -->
<div name="image" id="dropbox" 
style="min-width:300px;
min-height:100px;border:3px dashed silver;">
</div> 
<!-- 进度条-->
<div id="progressNumber" >
</div>  

<!-- 预览 -->
<div id="preview" style="width:100px;height:100px">
</div> 

<script src="/public/js/upload.js"></script>

<%- include footer %>