<!DOCTYPE html>
<html lang="en">
  <head>
    <title>随想录</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">生活随想录</a>
    </nav>
<div class="container">
  <!-- Content here -->
<div class="row">
 	  <label class="c-input c-radio">
		  <input id="radio1" name="radio" type="radio">
		  <span class="c-indicator"></span>
		  生活所想
		</label>

		<label class="c-input c-radio">
		  <input id="radio2" name="radio" type="radio">
		  <span class="c-indicator"></span>
		  工作所想
		</label>

    <input class="form-control form-control-lg" type="text" placeholder="你在想什么呢?">
 </div>

 <div class="checkbox">
	    <label>
	       <input type="checkbox"> 私有
	    </label>
 </div>
    <button type="button" class="btn btn-success">呐喊！</button>
</div>
</div>


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <!-- thought.js -->
    <script type="text/javascript">

    </script>
  </body>
</html>
