@chartset "utf-8";
/**/
body {
    background-color: #333 !important;
    color: #777 !important;
    font-family: 微软雅黑;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #111;
    border-radius: 1px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aaa;
    -webkit-box-shadow: inset 0 0 6px #333;
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #555;
    }

.labroom-title {
    font-size: 18px;
    text-align: center;
    color: white;
}

.triangle-left {
    width: 0;
    height: 0;
    border-bottom: 32px solid #272728;
    border-left: 50px solid transparent;
}

.triangle-right {
    width: 0;
    height: 0;
    border-bottom: 32px solid #272728;
    border-right: 50px solid transparent;
}

.nav-cell {
    cursor: pointer;
    background-color: #272728;
    padding: 5px 8px;
    border-left: solid 1px #111;
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
    width: 100px;
}

.labroom-nav {
    display: table;
    margin-top: 5px;
    width: 100%;
}

    .labroom-nav > div {
        display: table-cell;
    }

	.labroom-nav a {
            display: block;
            text-decoration: none;
            font-weight: bold;
            color: #DEDEDE;
        }

.selected {
    background-color: #1a1a1a;
    color: white;
}

.chart {
    width: 400px;
    height: 150px;
}

.map {
    width: 1000px;
    height: 550px;
}

#dashChart {
    height: 300px;
    text-align: center;
}

.menu {
    width: 200px;
    float: left;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}

    .menu a {
        color: #7c7c7e;
        text-decoration: none;
    }

    .menu ul {
        padding-left: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

.menu-list {
    float: right;
    margin-bottom: 0px;
}

    .menu-list > li {
        display: inline-block;
        font-size: 14px;
    }

/*.parent_li*/
.menu li > span {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-bottom: solid #444 1px;
}

.menu > ul > li > span {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: #222;
    border-bottom: solid #111 1px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}

.menu > ul > li > ul span {
    background-color: #272728;
}

.menu li > span:hover {
    background-color: #333;
}

.menu li.li_selected > span {
    background: #333;
    font-size: 16px;
}

.menu li.li_selected > ul > li.li_selected > span {
    background: #333;
    font-size: 13px;
}

.menu li.li_selected > span > a {
    color: white;
}

.projectboard {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 100%;
}

.page {
    margin: 0 0 0 210px;
    vertical-align: top;
    font-size: 14px;
    box-sizing: border-box;
    border-left: solid 1px #111;
    overflow: hidden;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
}
.page > hr{
    margin-top: 0px;
    border-color: #777;
}




/*简单的响应式样式*/
@media screen and (max-width: 720px) {
  #centerCircle {
    position: absolute;
  }
}
